.head-nav {
  background-color: #1d1d1f;
  align-items: center;
  font-size: 14px;
  margin-left: -10px;
  margin-right: -10px;
  height: 44px;
  box-sizing: content-box;
  width: 100%;
}
body {
  margin: 0;
  text-align: center;
  line-height: 1.58824;
  font-family: sans-serif;
  font-weight: 500;
}
html {
  margin: 0;
  padding: 0;
  font-size: 106.25%;
}
a {
  text-decoration: none;
}
.head-nav a {
  color: #c6c9cf;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.head-nav nav {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}
.alert-section p{
  margin: 0;
  font-size: 12px;
}
.alert-section {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.alert-section-main a {
  color: #06c;
}
.main-part h2 {
  margin : 0px;
}
.main-part h5 {
  margin : 0px;
}
.main-part p {
  margin : 0px;
}
.main-part a {
  margin : 0px;
}
.iPhone-se {
  background-image: url("https://apple.com/v/home/i/images/heroes/iphone-se/hero__dvsxv8smkkgi_large.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  margin-left: 10px;
  margin-right: 10px;
}
.iPhone-se-head {
  color: #fff;
  font-size: 2rem;
  padding-top: 25px;
}
.iPhone-se-main {
  color: #fff;
  font-size: 1.25rem;
}
.iPhone-se-foot {
  color: #7F7D7D;
}
.iPhone-se-buy a {
  color: #2997ff;
  font-size: 1.2rem;
  margin-right: 15px;
}
.iPhone-11 {
  background-image: url("https://apple.com/v/home/i/images/heroes/iphone-11-spring/hero__dvsxv8smkkgi_large.jpg");
  background-position: center;
  background-size: 100% cover;
  background-repeat: no-repeat;
  height: 75vh;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.iPhone-11-head {
  color: #1d1d1f;
  font-size: 2rem;
  padding-top: 25px;
}
.iPhone-11-main {
  color: #1d1d1f;
  font-size: 1.25rem;
}
.iPhone-11-foot {
  color: #7F7D7D;
}
.iPhone-11-buy a {
  color: #06c;
  font-size: 1.2rem;
  margin-right: 15px;
}
.iPad-pro {
  background-image: url("https://apple.com/v/home/i/images/heroes/ipad-pro/hero__dvsxv8smkkgi_large.jpg");
  background-position: center;
  background-size: 100% cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.iPad-pro-head {
  color: #1d1d1f;
  font-size: 2rem;
  padding-top: 25px;
}
.iPad-pro-main {
  color: #1d1d1f;
  font-size: 1.25rem;
}
.iPad-pro-buy a {
  color: #06c;
  font-size: 1.2rem;
  margin-right: 15px;
}
.two-part_1 {
  display: flex;
}
.wwdc20 {
  background-image: url("https://apple.com/v/home/i/images/promos/wwdc-2020-phase-4/tile__cauwwcyyn9hy_large.jpg");
  background-position: center;
  background-size: 100% cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.wwdc20-head {
  color: #fff;
  font-size: 2rem;
  padding-top: 30px;
  margin-top: 25px;
}
.wwdc20-main {
  color: #fff;
  font-size: 1.25rem;
}
.wwdc20-watch a {
  color: #2997ff;
  font-size: 1.2rem;
}
.reopen-store {
  background-image: url("https://apple.com/v/home/i/images/promos/store-opening-letter/tile__cauwwcyyn9hy_large.jpg");
  background-position: center;
  background-size: 100% cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  margin-top: 10px;
  margin-right: 10px;
}
.reopen-store-head {
  color: #1d1d1f;
  font-size: 1.3rem;
  padding-top: 30px;
  margin-top: 25px;
}
.reopen-store-message a {
  color: #06c;
  font-size: 1.2rem;
}
.two-part_2 {
  display: flex;
}
.iPhone_Watch {
  background-image: url("https://apple.com/v/home/i/images/promos/power-of-plus/tile__cauwwcyyn9hy_large.jpg");
  background-position: center;
  background-size: 50% cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.iPhone_Watch-head {
  color: #1d1d1f;
  font-size: 2rem;
  padding-top: 30px;
  margin-top: 25px;
}
.iPhone_Watch-main {
  color: #1d1d1f;
  font-size: 1.25rem;
}
.iPhone_Watch-buy a {
  color: #06c;
  font-size: 1.2rem;
}
.iPhone-11pro {
  background-image: url("https://apple.com/v/home/i/images/promos/iphone-11-pro/tile__cauwwcyyn9hy_large.jpg");
  background-position: center;
  background-size: 50% cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  margin-right: 10px;
  margin-top: 10px;
}
.iPhone-11pro-head {
  color: #fff;
  font-size: 2rem;
  padding-top: 30px;
  margin-top: 25px;
}
.iPhone-11pro-main {
  color: #fff;
  font-size: 1.25rem;
}
.iPhone-11pro-foot {
  color: #7F7D7D;
}
.iPhone-11pro-buy a {
  color: #2997ff;
  font-size: 1.2rem;
  margin-right: 15px;
}
.two-part_3 {
  display: flex;
}
.Watch {
  background-image: url("https://apple.com/kr/home/i/images/promos/watch-series-5/tile_aws5__fwphji1d8yeu_large.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Watch-head {
  color: #c2beb2;
  font-size: 2rem;
  padding-top: 30px;
  margin-top: 25px;
}
.Watch-head h5 {
  color: #D7482A;
  font-size: 0.75rem;
}
.Watch-main {
  color: #1d1d1f;
  font-size: 1.25rem;
}
.Watch-buy a {
  color: #06c;
  font-size: 1.2rem;
  margin-right: 15px;
}
.make-my-unit {
  background-image: url("https://apple.com/v/home/i/images/promos/airpods-engraving-refresh/tile__cauwwcyyn9hy_large.jpg");
  background-position: center;
  background-size: 50% cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.make-my-unit-head {
  color: #1d1d1f;
  font-size: 1.75rem;
  padding-top: 30px;
  margin-top: 25px;
}
.make-my-unit-main {
  color: #1d1d1f;
  font-size: 1.2rem;
}
.make-my-unit-buy a {
  color: #06c;
  font-size: 1.2rem;
  margin-right: 15px;
}
.foot {
  background-color: #E1E6E6;
  padding: 0 100px;
  font-size: 12px;
  color: #818585;
}
.foot-content p{
  text-align: left;
}
.foot-content2 p {
  text-align: left;
  padding: 12px 0;
  margin: 0;
}
.foot-part {
  border-bottom: 0.05rem solid #818585;
  padding: 17px 0;
}
.foot-nav {
  display: flex;

}
.foot-nav div {
  text-align: left;
  margin-right: 30px;
}
.foot-nav div h3 {
  font-size: 12px;
  color: #000;
}
.foot-info {
  text-align: left;
}
.foot-nav nav a {
  color: #818585;
}
.many-kind-of-shopping {
  padding-top: 30px;
  border-bottom: 0.05rem solid #818585;
}
.many-kind-of-shopping a {
  color: #06c;
}
.foot-first-part {
  display: flex;
  justify-content: space-between;
}
.foot-information-nav nav {
  margin-top: 12px;
}
.choose-country {
  margin-top: 12px;
}
.foot-information-nav nav a {
  color: #333030;
  padding-right: 7px;
  padding-left: 7px;
  border-right: 0.05rem solid #818585;
}
.choose-country a {
  color: #333030;
}
.another-info {
  display: flex;
}
#sitemap {
  border-right: none;
}
.another-info p {
  font-size: 11px;
  padding: 0 5px;
  border-right: 0.05rem solid #818585;
}
#pax {
  border-right: none;
}
